@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #665557;
}

#container_header {
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    color: #7e4248;
}

#container-username {
    display: flex;
}

#mesas_main {
    width: 100%;
    height: 85%;
    padding: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: start;
    overflow-x: auto;
    overflow-y: auto;
}

#icon_profile_header, #container_header {
    display: flex;
    align-items: center;
    text-align: center;
}

#icon_profile {
    width: 6vw;
    margin-left: 1vw;
}

#p_username_profile {
    font-size: 5vh;
    margin: 0;
}

#container_title_header {
    display: flex;
    flex-direction: column;
}

.divClicable {
    text-decoration: none;
    color: inherit;
}

.divClicable:hover {
    color: inherit;
}

.btn_seleccionado {
    color: white;
    background-color: #7e4248;
    border: solid 1px #7e4248;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn_seleccionado:focus {
    background-color: #7e4248;
    border: solid 1px #7e4248;
    outline: none; /* Elimina el borde por defecto */
}

.btn_seleccionado:hover {
    color: white;
    background-color: #7e4248;
    border: solid 1px #7e4248;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn_Crear {
    color: white;
    background-color: #1a7717;
    border: solid 2px #145610;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn_Crear:focus {
    background-color: #145610;
    border: solid 2px #145610;
    outline: none; /* Elimina el borde por defecto */
}

.btn_Crear:hover {
    background-color: #145610;
    border: solid 2px #145610;
}


.btn_Editar {
    color: white;
    background-color: #636363;
    border: solid 2px #3f3f3f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn_Editar:focus {
    background-color: #3f3f3f;
    border: solid 2px #3f3f3f;
    outline: none; /* Elimina el borde por defecto */
}

.btn_Editar:hover {
    background-color: #3f3f3f;
    border: solid 2px #3f3f3f;
}

.btn_Eliminar {
    color: white;
    background-color: #7c232c;
    border: solid 2px #4f0f15;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn_Eliminar:focus {
    background-color: #4f0f15;
    border: solid 2px #4f0f15;
    outline: none; /* Elimina el borde por defecto */
}

.btn_Eliminar:hover {
    background-color: #4f0f15;
    border: solid 2px #4f0f15;
}

.btn_normal {
    border: solid 1px #7e4248;
    color: #7e4248;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn_normal:focus {
    background-color: #7e4248;
    border: solid 1px #7e4248;
    outline: none; /* Elimina el borde por defecto */
}

.btn_normal:hover {
    background-color: #7e4248;
    border: solid 1px #7e4248;
}

#nav_header {
    justify-content: space-between;
}

.sala {
    border: 2px solid #000;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    white-space: nowrap;
    margin-left: 1vw;
    margin-right: 1vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sala:hover {
    background-color: #cccccc;
}

.sala h2 {
    text-align: center;
    color: #343a40;
}

.imgSalaContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6c757d;
    background-color: #adb5bd;
    border-radius: 5px;
    width: 120px;
    height: 70px;
    margin-bottom: 10px;
    position: relative;
}

.mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #412326;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
}

.mesa:hover {
    transform: scale(1.1);  /* Agranda el div pequeño */
}

.mesa span {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

#imgSala {
    width: 40%;
    color: white;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    text-align: center;
}

/* Para el scrollbar */
#mesas_main::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

#mesas_main::-webkit-scrollbar-thumb {
    background-color: #493c3e;
}

#mesas_main::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

#formCrearUsuario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}

#formOpcionesRecurso {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}
#reservasEncontradas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}
.reservaEncontradaDiv {
    width: 80%;
    aspect-ratio: 10 / 1;
    height: auto;
    margin-bottom: 10px;
    padding: 1%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: blue;
    border: 2px solid #412326;
    background-color: #7e4248;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    align-items: center;
}

.interiorReserva {
    margin-bottom: 0;
}

.libreEstilo {
    color: rgb(35, 67, 35);
}
.ocupadoEstilo {
    color: rgb(77, 28, 28);
}

.inputPersInt {
    width: 15%;
    height: 10%;
}

.inputPersCrear {
    width: 100%;
    height: 10%;
}

.inputPersTexto {
    width: 50%;
    height: 10%;
}

.inputPersTextoLargo {
    width: 75%;
    height: 50%;
}

.labelForm {
    width: 100%;
}

.inputPers {
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.inputPers:focus {
    border-color: #000000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.inputPers::placeholder {
    color: #aaa;
    font-style: italic;
}

.btnSubmitPers {
    width: 100%;
    color: white;
    background-color: #7e4248;
    border: solid 1px #7e4248;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnSubmitPers:focus {
    background-color: #7e4248;
    border: solid 1px #7e4248;
    outline: none; /* Elimina el borde por defecto */
}

.btnSubmitPers:hover {
    color: #7e4248;
    background-color: white;
    border: solid 4px #7e4248;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnEliminarReserva {
    width: 100%;
    color: white;
    background-color: #76262e;
    border: solid 2px #442326;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnEliminarReserva:focus {
    background-color: #76262e;
    border: solid 2px #442326;
    outline: none; /* Elimina el borde por defecto */
}

.btnEliminarReserva:hover {
    color: #442326;
    background-color: #744e52;
    border: solid 2px #442326;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.col-md-4 {
    width: 25%;
}

#botonFiltrar {
    background-color: #442326;
    border: none;
}
#botonFiltrar:focus {
    background-color: #76262e;
    outline: none; /* Elimina el borde por defecto */
}

#botonFiltrar:hover {
    color: #000000;
    background-color: #653136;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#formPersonalizado {
    padding-bottom: 2%;
}
#formPersonalizado2 {
    padding-bottom: 2%;
}

#tituloForm {
    text-align: center;
}

.error-message {
    font-size: 0.875rem;
    color: red;
    text-align: left;
    display: flex;
}

.error {
    border: 2px solid red;
}

/* FALTA POR MIRAR */

@media (max-width: 768px) {
    #container_header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0.5rem;
    }

    #icon_profile {
        width: 13vw;
    }

    #container-username, #container_title_header, #nav_header {
        flex: 1 1 auto;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #mapa {
        height: 40vh; /* Reducir un poco más la altura del mapa */
        max-width: 90vw;
    }

    #divGrande {
        height: 40vh; /* Reducir un poco más la altura del mapa */
        max-width: 90vw;
    }

    #title_header {
        font-size: 4.5vh;
    }

    #p_username_profile {
        font-size: 3.5vh;
    }

    .btn_custom_logOut {
        font-size: 1.2rem;
        padding: 0.4rem 0.8rem;
        margin: 0.2rem;
    }

    .span_subtitle {
        font-size: 1.5vh;
    }
    #divTerraza3 {
        width: 62.4%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .hidden-mobile{
        display: none;
    }
}

@media (max-width: 480px) {
#mesas_main {
    flex-direction: column;
    padding: 5%;
    align-items: center;
    }
}

@media (max-width: 480px) {
    #container_header {
        padding: 0.5rem;
    }

    #icon_profile {
        width: 15vw;
    }

    #mapa {
        height: 30vh; /* Aún más pequeño para pantallas muy pequeñas */
        max-width: 80vw;
    }

    #divGrande {
        height: 30vh; /* Aún más pequeño para pantallas muy pequeñas */
        max-width: 80vw;
    }

    #title_header {
        font-size: 4vh;
    }

    #p_username_profile {
        font-size: 3vh;
    }

    .btn_custom_logOut {
        padding: 0.3rem 0.6rem;
        font-size: 1rem;
        margin: 0.2rem;
    }

    .span_subtitle {
        font-size: 1.4vh;
    }
    #divTerraza3 {
        width: 62.4%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}
